body{
  display: flex;
  flex-flow: column;
  background-color: aliceblue;
}

h1
{
  margin: 60px auto 40px;
  color:rgb(243, 183, 193);
  font-size: 100px;
  text-shadow: 3px 1px black;

}

.gameboard {

  width: 1200px;
  border: 2px solid black;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  row-gap: 30px;

  background-image: url("images/bg-brick.jpeg");
  background-repeat: repeat;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  width: 120px;
  height: 140px;
  margin: 20px;

  position: relative;

  cursor: pointer;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  overflow: visible;

}

.face{
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;

}

.back {

  background-image: url("images/cardback-peach.jpeg");
  background-size:cover;
  border-radius: 10px;
}

.front {
  transform: rotateY(180deg);
  border-radius: 10px;

}

.flipped {

  transform: rotateY(180deg);

}

.selected {
  /* `outline` adds "border" w/out changing div size!
  Doesn't mess with margins. */
  outline: 2px solid red;
}

.reset {
  border: 4px outset gray;
  background-color: slategray;
  text-align: center;
  font: 24px monospace;
  width:116px;
  height:136px;

}

.curtains {
 position: absolute;
 top:0;
 left: 50%;
 transform: translateX(-50%);
 z-index: -1;
}

/*if too small for default gameboard:  */
@media screen and (max-width: 1200px) {
  .gameboard {
    width: 100%;
  }
}


/* responsive grid layout!??
830px is the number where the content starts breaking out of the board
 with the sizes I have set */
@media screen and (max-width: 830px) {
  .gameboard {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
